<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jerome.okhttpcapture">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".internal.ui.CaptureInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity-alias
            android:name="CaptureInfoActivity"
            android:label="@string/icon_name"
            android:targetActivity=".internal.ui.CaptureInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>


</manifest>